@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
.content{
	width:2200px;
	height:900px;
	border-radius:10px;
	padding:10px;
	background-color:white;
	
}
nav{
	background-color:black;
	color:white;
	border-bottom:0.5px solid gray;
	width:100%;
	line-height:80px;
	height:80px;
	font-size:18px;
	padding: 0 30px;
	position:absolute;
	top:0;
	left:0;
	font-family:'Karla';
}
nav a{
	text-decoration:none;
	color:white;
}
nav a{
	float:right;
	list-style:none;
	height:inherit;
	line-height:inherit;
	padding:0 50px;
}
nav a{
	display:inline-block;
}
nav a{
	display:block;
	text-align:center;
	min-width:120px;
	padding:0 30px;
}
nav :hover{
	background-color:gray;
}
footer{
	margin:0px;
	width:1500px;
	height:150px;
	background-color:black;
	display:flex;
	
}
footer a {
	display:inline-block;
	color:white;
	text-decoration:none;
	
	
}
footer ul{
	display:block;
	text-decoration:none;
	
}
.about
{
	width:500px;
	height:70px;
	padding:3px;
}
.menu{
	width:500px;
	height:70px;
	padding:3px;
	
}
.contact
{
	width:500px;
	height:70px;
	padding:3px;
}


	

	
	
